* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
}
.container {
  width: 80%;
  margin: auto;
}
.bg {
  min-height: calc(100vh - 53px);
  padding: 2rem;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.btn-dark {
  background: #333;
  color: #fff;
}
.btn-sm {
  padding: 0.5rem;
}
.btn-form {
  background: darkslategray;
  color: #fff;
  margin-top: 2rem;
  text-transform: uppercase;
}

.navbar {
  background: darkslategray;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
.nav-links a {
  padding: 1rem;
  display: inline-block;
}
.nav-links a:hover {
  color: #d1d1d1;
}
.active-link {
  text-decoration: underline;
}
.post {
  box-shadow: 5px 5px 10px 0 #5d5d5d;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 1rem 0;
}
.post h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.form-control {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
  font-size: 1.2rem;
  padding: 0.5rem 0.1rem;
}
.form-control:focus {
  border-bottom: 1px solid #2a48ce;
}
.input-group {
  margin-top: 2rem;
}
.input-label {
  font-size: 1.2rem;
}
